<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-center justify-content-lg-start py-3 mt-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0">&copy; 2025 Achmad Naufal Ilyasa</span>
    </div>
  </footer>
</div>